.signin-container{
      font-family: Manrope, sans-serif;
    margin-top: 3rem;
    margin-left: 6rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3rem 5rem;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
     color: #000;
}

.signin-left{
    margin-right: 1rem;
    width: 40rem;
}

.signin-right{
    margin-right: 1rem;
}

.logo-huzzl{
    margin-bottom: 5px;
    margin-left: 1rem;
}

.signin-image{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    object-fit: cover;
}

.back-link{
    position: absolute;
    top: 16rem;
      left: 24rem;
    background: transparent;
    background-color: #bebebe;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.back-link img{
    width: 15px;
    vertical-align: middle;
}

.back-link:hover{
    background-color: #03398c;
    color: #fff;
    border: none;
}

.signin-container h2{
    margin-top: 3rem;
}

.social-login{
    display: flex;
    gap: 15px;
}

.signin-container label{
    color: #000;
}

.social-login button{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   white-space: nowrap;
    padding: 7px 10px;
    border-radius: 6px;
    border: 1px solid #03398c;
    cursor: pointer;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 600;
}

.google{
    background-color: #03398c;
}

.google-icon{
    margin-top: -4px;
}

.apple{
    background-color: #fff;
}

.apple-signin{
    color: #2c2b2b;

}

.apple-signin:hover{
    color: #fff;
}

.apple img{
    margin-top: -6px;
}

.divider{
    width: 3rem;
    height: 1.5px;
    background-color: #2c2828;
}

.signin-container p{
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: poppins;
    font-size: 19px;
}

.signin-container form{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.signin-container input{
    margin: 5px 0;
    padding: 12px;
    border: 1px solid #292727;
    border-radius: 6px;
    font-size: 14px;
}


.signup-text{
   margin-top: 20px;
    font-size: 18px;
}

.signup-text a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.signup-text a:hover{
    text-decoration: underline;
     color: #03398c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


form label {
  text-align: left;
  font-weight: bold;
  color: #444;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s;
}

form input:focus {
  outline: none;
  border-color: #2575fc;
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}



/* Role buttons */
.role-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.role-btn {
  flex: 1;
  padding: 10px 0;
  border: 1px solid #2575fc;
  background-color: #fff;
  color: #2575fc;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.role-btn.active,
.role-btn:hover {
  background-color: #2575fc;
  color: #fff;
}

.vendor-link{
    text-decoration: none;
    color: #03398c;
}

.client-link{
    text-decoration: none;
    color: #03398c;
}

/* Login button */
.login-btn {
  padding: 12px 0;
  background-color: #2575fc;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #1a5ed8;
}


/* Signup text */
.signup-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}



.signup-text a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}



/* Mobile responsiveness */




@media (max-width:768px){
.signin-container{
    margin-left: 1rem;
   gap: 15px;
    padding: 1rem 2rem;
    max-width: 600px;
}

.logo-huzzl{
    margin-bottom: 5px;
    margin-left: 1rem;
}

.signin-right{
    margin-right: -1rem;
    line-height: .2;
}

.signin-left{
    margin-right: 5rem;
}
.signin-image{
  height: 73vh;
   width: 140%;
   object-position: left;
   border-radius: 12px;
}


.back-link{
    position: absolute;
    top: 11rem;
      left: 7rem;
    padding: 7px 7px;
      font-weight: 700;
}

.signin-container h2{
    margin-top: 3rem;
    margin-left: 1rem;
}

.social-login{
    display: flex;
    gap: 10px;
}

.social-login button{
   gap: 10px;
    padding: 8px 9px;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
}

.google-icon{
    margin-top: 3px;
}

.apple-icon{
    margin-top: 3px;
}

.divider{
    width: 3rem;
    height: 1.5px;
    background-color: #2c2828;
}

.signin-container p{
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: poppins;
    font-size: 19px;
}

.signin-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signin-container input{
    margin: 5px 0;
    padding: 12px;
    border: 1px solid #292727;
    border-radius: 6px;
    font-size: 14px;
}


.signup-text{
   margin-top: 20px;
    font-size: 18px;
}

.signup-text a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.signup-text a:hover{
    text-decoration: underline;
     color: #03398c;
}

}

@media (max-width:500px){
    .signin-container{
    margin-left: 1rem;
   gap: 1px;
    padding: 1rem 2rem;
    max-width: 500px;
}

.signin-right{
    margin-right: -1rem;
}

.signin-left{
    margin-right: 2.5rem;
}

.signin-image{
   margin-left: -1.5rem;
}


.back-link{
    position: absolute;
    top: 15rem;
      left: 3.5rem;
    padding: 5px 5px;
      font-weight: 700;
}

.signin-container h2{
   font-size: 1.3rem;
   margin-top: 4rem;
   margin-left: -1rem;
}

.social-login{
    display: flex;
    gap: 5px;
}

.social-login button{
   gap: 2px;
    padding: 6px 1px;
    font-size: 11px;
    font-weight: 500;
}

.google{
    margin-left: -1rem;
}

.signin-container p{
    font-size: 15px;
}

.signin-container input{
    font-size: 13px;
}


.signup-text{
   margin-top: 20px;
    font-size: 16px;
}

.signup-text a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.signup-text a:hover{
    text-decoration: underline;
     color: #03398c;
}

}

@media (max-width:400px) {      
.signin-container{
   gap: 15px;
    padding: 1rem 2rem;
    max-width: 600px;
}

.logo-huzzl{
    margin-bottom: 5px;
    margin-left: 1rem;
}


.signin-right{
    margin-left: -3rem;
}

.signin-left{
    margin-right: 5rem;
    margin-left: -1.8rem;
}

.signin-image{
  height: 72vh;
   width: 145%;
}


.back-link{
    position: absolute;
    top: 15rem;
      left: 3rem;
    padding: 5px 1px;
    font-weight: 600;
}

.signin-container h2{
    margin-top: 4.5rem;
    font-size: 15.5px;
    margin-left: -.7rem;
}

.social-login{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 75%;
}

.social-login button{
   gap: 4px;
    font-size: 11.5px;
    padding:  7px 8px;
}

.apple{
    margin-top: -1rem;
}

.google{
    width: 100%;
    margin-left: -.2rem;
}
.signin-container p{
    font-size: 12.5px;
    margin-left: -18px;
    font-weight: 600;
}

.signin-container form{
    width: 80%;
}

.signin-container input{
    padding: 9px;
    font-size: 13px;
}

  .role-buttons {
    flex-direction: column;
  }

.signup-text{
  margin-left: -3.5rem;
  font-size: 12px;
}

.signup-text a{
    font-weight: 600;
}

.signup-text a:hover{
    text-decoration: underline;
    color: #03398c;
}

}
