.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  position: relative;
}

/* Desktop links */
.navbar-links,
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-logo a{
  font-size: 1.5rem;
  font-weight: bold;
  color: #03398c;
  text-decoration: none;
}
/* Hamburger - hidden on desktop */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #03398c;
  transition: all 0.3s ease;
}

/* Animate bars when open */
.hamburger .bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar.open:nth-child(2) {
  opacity: 0;
}

.hamburger .bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar-links,
  .navbar-buttons{
    display: block;
  }
  
  .navbar-links,
  .navbar-buttons {
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
  }

  .navbar-links.active,
  .navbar-buttons.active {
    max-height: 500px; 
    padding: 1rem 2rem;
  }

  .navbar-links li {
    margin: 0.5rem 0;
  }

  .navbar-buttons {
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
   gap: .5rem;

  }

  .mobile-menu.active{
    max-height: 500px;
    padding: 1rem 2rem;
  }
}

