/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Manrope, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #2563eb;
}

.btn-primary {
  background:  #092a5f;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #1d4ed8;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  background: #f9fafb;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-text h1 span {
  color:  #092a5f;
}

.hero-img img {
  max-width: 350px;
  width: 100%;
}

/* Sections */
section {
  padding: 4rem 2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Why Choose */
.why {
  background:  #092a5f; 
   color: white;
  text-align: center;
  padding: 4rem 2rem;
}

.why-title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.why-subtitle {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  color: #e5e7eb;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: #111827;
  padding: 2rem 1.5rem;
  border-radius: 12px;
  max-width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.card p {
  font-size: 0.95rem;
  color: #4b5563;
}


/* How it works */
.steps {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.work{
  color: #092a5f;
}

.simple{
  margin-top: -2rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.step {
  background: white;
  color: #111827;
  padding: 3rem 2rem;
  line-height: 2;
  border-radius: 12px;
  max-width: 350px;
    text-align: left;
  border: 1px solid #092a5f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.step p{
  font-size: .9rem;
}

.btn-secondary{
   width: 9rem;
    background-color: #0f3168;
    color: #fff;
    cursor: pointer;
    font-size: .7rem;
        border-radius: 19px;
        border: 1px solid #fff;
           font-weight: 600;
}
/* Categories */
.categories {
  background:  #092a5f; 
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

.categories-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.categories-subtitle {
  font-size: 1.1rem;
  color: #e5e7eb;
  margin-bottom: 3rem;
}

.categories-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.category-card {
  background: white;
  color: #111827;
  border-radius: 12px;
  overflow: hidden;
  max-width: 280px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.category-card h3 {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.view-all {
  background:  #1d4ed8;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-all:hover {
  background:  #204e99;
}


/* Features */
.feature-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
  align-items: start;
}

.left{
  text-align: left;

}

.left h3{
  font-size: 2rem;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.feature {
  background: #f9fafb;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 300px;
}

/* CTA */
.cta {
  background:  #092a5f;
  color: white;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 12px;
  margin: 2rem;
}

.cta-btnn2{
    width: 9rem;
    background-color: #0f3168;
    color: #fff;
    cursor: pointer;
    font-size: .8rem;
        border-radius: 13px;
        border: 1px solid #fff;
           font-weight: 600;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
}

.subscribe-section2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
  align-items: start;

}

.subscribe-input2{
    margin-left: 19rem;
}


.subscribe-input2::placeholder{
    color: #666565;
}
.privacy-textt{
    text-align: center;
    margin-left: 74rem;
    margin-top: -.5rem;
    font-size: .9rem;
}


.privacy-textt a{
    color: #000;
    text-decoration: none;
}

.privacy-textt a:hover{
    text-decoration: underline;
    color: #03398c;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }
  

.privacy-text  {
    text-align: center;
    margin-left: -22rem;
    margin-top: -.5rem;
    font-size: .8rem;
}

.step{
  max-width: 250px;
}

.features h2{
  white-space: nowrap;
  font-size: 1.6rem;
}

.feature-grid{
  gap: 2rem;
  grid-template-columns: 1fr;
  text-align: center;
  }

  .left{
    margin-left: 1rem;
  }

.left h3{
  font-size: 1.1rem;
  white-space: nowrap;
}

.left p{
  font-size: 12px;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:.51rem;
}

.right p{
  font-size: 12px;
}

.feature {
  background: #f9fafb;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 300px;
}

.subscribe-section{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.subscribe-input2{
    margin-left: 1rem;
}
}